.main-wrapper {
    padding: 40px;
    padding-right: 280px;

    .company {
      position: relative
    }
    .right {
      position: absolute;
      right: 0;
      top: 0;
    }

    a {
      position: relative;
      margin-right: 4px;
      text-decoration: none; /* Remove default underline */
    }

    a::after {
      font-family: 'FontAwesome', sans-serif;
      content: '\f0c1'; /* Unicode for the chain icon */
      vertical-align: middle;
      text-align: center;
      right: -13px; /* Adjust the spacing as needed */
    }

    a::after {
      color: $text-color-secondary; /* Change the color to your preference */
      font-size: 10px; /* Adjust the size as needed */
      padding-left: 2px;
    }
}

.sidebar-wrapper {
    .fas {
      margin-right: 5px;
      font-size: 18px;
      vertical-align: middle;
    }
}

.section-title {
    .fa-stack {
        margin-right: 4px;
    }
}

.lost-wrapper {
    position: absolute;
    right: 0;
    width: 240px;
    height: 100%;
    margin: 24px;
    min-height: 800px;
    color: #fff;
    text-align: center;
}

@media (max-width: 767.98px) {
  .main-wrapper {
    margin-right: 0;
    padding: 2rem;
  }
}