$sidebar-padding: {{ .Site.Params.sidebarPadding | default "20px"}} !default;
$theme-color: {{ .Site.Params.themeColor | default "#4B6A78"}} !default;
$text-color: {{ .Site.Params.textColor | default "#3F4650"}} !default;
$text-color-secondary: {{ .Site.Params.textColorSecondary | default "#545E6C"}} !default;
$text-grey: {{ .Site.Params.textGrey | default "#97AAC3"}} !default;
$divider: {{ .Site.Params.divider | default "#e8e8e8"}} !default;
$lighter-grey: {{ .Site.Params.lighterGrey | default "#ccc"}} !default;
$darker-grey: {{ .Site.Params.darkerGrey | default "#666"}} !default;
$smoky-white: {{ .Site.Params.smokyWhite | default "#f5f5f5"}} !default;

@import "orbit.scss";
@import "custom";
