// orbit-1: #42A8C0
// orbit-2: #4CAC9D
// orbit-3: #5BB66F
// orbit-4: #A15277
// orbit-5: #FDA246
// orbit-6: #4B6A78
$theme-color: {{ .Site.Params.themeColor | default "#4B6A78"}} !default;
$text-color: {{ .Site.Params.textColor | default "#3F4650"}} !default;
$text-color-secondary: {{ .Site.Params.textColorSecondary | default "#545E6C"}} !default;
$text-grey: {{ .Site.Params.textGrey | default "#97AAC3"}} !default;
$divider: {{ .Site.Params.divider | default "#e8e8e8"}} !default;
$lighter-grey: {{ .Site.Params.lighterGrey | default "#ccc"}} !default;
$darker-grey: {{ .Site.Params.darkerGrey | default "#666"}} !default;
$smoky-white: {{ .Site.Params.smokyWhite | default "#f5f5f5"}} !default;
$sidebar-padding: {{ .Site.Params.sidebarPadding | default "20px"}} !default;

// original
@import "orbit";
// adjustments from original
@import "modifications";
// allow extension
@import "custom";
