noscript.grid_12
  .notice
    | Please enable JavaScript to view this site properly

#summary.grid_8.content-inner
  h1 Summary
  p I'm <span class="hidden-message cap">a</span> <span class="hidden-message">we</span>b developer who is 
    | intere<span class="hidden-message">s</span>ted in new technologies and inn<span class="hidden-message">o</span>vative ideas.
  p Passion, excellence, accuracy: these are a few things I bring to the table.
  p Code, hu<span class="hidden-message">m</span>or, food: th<span class="hidden-message space">e</span>se are a few more things.
  p I believe that the best code <span class="hidden-message space">is</span> a product of a fun environment and an amazing team.

  h1 Education
  p Virginia Commonwealth University Rich<span class="hidden-message">m</span>ond, VA
  p Bachelor of Science in Business, May 2009
  p Major: Information S<span class="hidden-message space">y</span>stems, Application Development
  p GPA: 3.98, <em>summa cum laude</em>

  h1 Honors
  p Acade<span class="hidden-message">mi</span>c Achievement Awar<span class="hidden-message">d</span>, Spring/Fall 2006, Spring 2007 
  p William O. E<span class="hidden-message">d</span>wards Scholarship for Merit, 2007-2008, 2008-2009 
  p Member, Beta Gamma Sigma Internationa<span class="hidden-message">l</span> Business Honor Soci<span class="hidden-message space">e</span>ty, 2008 
  p Member, Phi Kappa Phi Ho<span class="hidden-message">n</span>or Society, 2008 
  p Student of the Year Aw<span class="hidden-message">a</span>rd, Information Syste<span class="hidden-message">m</span>s, VCU School of Business, April 2009

  h1 Experienc<span class="hidden-message period">e</span>
  p
    em April 2011-present, Primescape Solutions, Inc. Herndon, VA
  strong Senior Software Engineer (C#/ASP.NET)
  ul
    li  Design and development of software and web applications using Microsoft .NET 3.5 Framework
    li  Create custom, reusable controls and frameworks for reporting on large data sets
    li  Configuration, setup, and maintenance of collaborative Drupal CMS for global client organization
    li  Linux system administration on dedicated server hosting Drupal CMS

  p
    em October 2010-April 2011, Expedia, Inc. Bellevue, WA
  strong Software Developer Engineer II
  ul
    li  Instrumental in the interview process for Senior .NET Software Developer Engineers
    li  Researched available technology solutions in a variety of areas: localization, performance monitoring, logging
    li  Team: prepared a demonstration application using ASP.NET MVC 2.0 (Web Forms View Engine)
    li  Team: scalable, high-availability public-facing web application using ASP.NET MVC 3.0 (Razor View Engine)
    li  Involved in a ma<span class="hidden-message cap">j</span>ority 
        | of the constr<span class="hidden-message">u</span>ction pha<span class="hidden-message">s</span>e for B2B site

  p
    em September 2009-November 2010, Primescape Solu<span class="hidden-message space">t</span>ions, Inc. Herndon, VA
  strong Consultant / Software & Web Application Developer
  ul
    li  Performed major enhancements and added functionality to a grants/budget management web application using ASP.NET/C# and Oracle 9i
    li  Upgraded the grants/budget management web application from .NET 1.1 to .NET 3.5 SP1
    li  Complied with coding and security standards for Federal Government client
    li  Designed and developed application architecture and data access components
    li  Interacted directly with Federal Government clients
    li  Involved in entire Software Development Lifecycle

  p
    em September 2008-February 2009, Agility Healthcare Solutions (GE Healthcare) Richmond, VA
  strong  Intern - Software Developer
  ul
    li  Performed bug fixes and application enhancements in an HL7-compliant Rich Internet Application using ASP.NET 3.5 and C#
    li  Wor<span class="hidden-message">k</span>ed w<span class="hidden-message">i</span>th <span class="hidden-message">d</span>evelopment 
        | team as part of a mixe<span class="hidden-message">d</span> Ag<span class="hidden-message">i</span>le 
        | a<span class="hidden-message">n</span>d Scrum methodolo<span class="hidden-message comma">g</span>y
    li  Provided feedback on appl<span class="hidden-message">i</span>cation complexi<span class="hidden-message apos">t</span>y 
        | and u<span class="hidden-message space">s</span>ability to team leader

  p
    em January 2008-Present, Open Sou<span class="hidden-message cap">r</span>ce, Pers<span class="hidden-message">onal</span>, and Freelance Projects
  strong Software & Web Application Developer / Administrator
  ul  
    li  Open-source project: brushes.js- Brushes for HTML5 Canvas, 2<span class="hidden-message exclamation">d</span> context
    li  Open-source project: Mastering Node (contributor)
    li  Open-source project: Google Chrome Extension- "New Tab Redirect!"
    li  Open-source project: Google Chrome Extension- "Select Actions"
    li  Web Site: "alittlebirdy.us"
        a(href="http://alittlebirdy.us", target="_blank") alittlebirdy.us
        | (in-progress)
    li  Web Site: "Comix!" 
        a(href="http://www.drawcomix.com",target="_blank") DrawComix.com
        | (in-progress)
    li  Web Site: Admin/Wordpress- "I Prefer Jim" 
        a(href="http://www.ipreferjim.com",target="_blank") Ipreferjim.com
    li  Web Site: Wordpress- "Ben's Creative Catering" 
        a(href="http://www.benscreativecatering.com",target="_blank") BensCreativeCatering.com
    li  Web Site: Admin/Wordpress- "Schubert Solutions" 
        a(href="http://www.schubertsolutions.com",target="_blank") SchubertSolutions.com

#knol.grid_3.prefix_1.content-inner
  h2 Development
  span.expert-ish C#/.NET
  span.intermediate Visual C++
  span.novice XML/XSL
  span.intermediate Ruby
  span.noob PHP
  span.expert-ish .NET 1.1-4.0
  span.intermediate node.js

  h2 Web
  span.expert-ish ASP.NET
  span.expert-ish WebForms
  span.expert-ish MVC 2.0
  span.expert-ish MVC 3.0
  span.intermediate Rails (RoR)
  span.expert-ish HTML
  span.expert-ish XHTML
  span.expert-ish CSS
  span.expert-ish JavaScript
  span.expert-ish jQuery
  span.expert-ish AJAX

  h2 Deployment
  span.intermediate MSBuild
  span.intermediate Windows Installer XML v3
  
  h2 Design
  span.intermediate Visio
  span.novice Rational Rose
 
  h2 Persistence
  span.intermediate Linq to SQL
  span.novice Entity Framework
  span.expert-ish ADO.NET
  span.expert-ish Fluent NHibernate
  span.intermediate MS-SQL
  span.intermediate MySQL
  span.novice SQLite3
  span.intermediate Oracle
  span.expert-ish VERY (persistent)

