.grid_8
  h1 Education
  p Virginia Commonwealth University Richmond, VA
  p Bachelor of Science in Business, May 2009
  p Major: Information Systems, Application Development
  p GPA: 3.98, <em>summa cum laude</em>

  h1 Honors
  p Academic Achievement Award, Spring/Fall 2006, Spring 2007 
  p William O. Edwards Scholarship for Merit, 2007-2008, 2008-2009 
  p Member, Beta Gamma Sigma International Business Honor Society, 2008 
  p Member, Phi Kappa Phi Honor Society, 2008 
  p Student of the Year Award, Information Systems, VCU School of Business, April 2009

  h1 Experience
  p
    em April 2011-present, Primescape Solutions, Inc. Herndon, VA
  strong Senior Software Engineer (C#/ASP.NET)
  ul
    li  Design and development of software and web applications using Microsoft .NET 3.5 Framework
    li  Create custom, reusable controls and frameworks for reporting on large data sets
    li  Configuration, setup, and maintenance of collaborative Drupal CMS for global client organization
    li  Linux system administration on dedicated server hosting Drupal CMS

  p
    em October 2010-April 2011, Expedia, Inc. Bellevue, WA
  strong Software Developer Engineer II
  ul
    li  Instrumental in the interview process for Senior .NET Software Developer Engineers
    li  Researched available technology solutions in a variety of areas: localization, performance monitoring, logging
    li  Team: prepared a demonstration application using ASP.NET MVC 2.0 (Web Forms View Engine)
    li  Team: scalable, high-availability public-facing web application using ASP.NET MVC 3.0 (Razor View Engine)
    li  Involved in a majority of the construction phase for B2B site

  p
    em September 2009-November 2010, Primescape Solutions, Inc. Herndon, VA
  strong Consultant / Software & Web Application Developer
  ul
    li  Performed major enhancements and added functionality to a grants/budget management web application using ASP.NET/C# and Oracle 9i
    li  Upgraded the grants/budget management web application from .NET 1.1 to .NET 3.5 SP1
    li  Complied with coding and security standards for Federal Government client
    li  Designed and developed application architecture and data access components
    li  Interacted directly with Federal Government clients
    li  Involved in entire Software Development Lifecycle

  p
    em September 2008-February 2009, Agility Healthcare Solutions (GE Healthcare) Richmond, VA
  strong  Intern - Software Developer
  ul
    li  Performed bug fixes and application enhancements in an HL7-compliant Rich Internet Application using ASP.NET 3.5 and C#
    li  Worked with development team as part of a mixed Agile/Scrum methodology
    li  Provided feedback on application complexity and usability to team leader

  p
    em January 2008-Present, Open Source, Personal, and Freelance Projects
  strong Software & Web Application Developer / Administrator
  ul  
    li  Open-source project: brushes.js- Brushes for HTML5 Canvas, 2d context
    li  Open-source project: Mastering Node (contributor)
    li  Open-source project: Google Chrome Extension- "New Tab Redirect!"
    li  Open-source project: Google Chrome Extension- "Select Actions"
    li  Web Site: "alittlebirdy.us"
        a(href="http://alittlebirdy.us", target="_blank") alittlebirdy.us
        | (in-progress)
    li  Web Site: "Comix!" 
        a(href="http://www.drawcomix.com",target="_blank") DrawComix.com
        | (in-progress)
    li  Web Site: Admin/Wordpress- "I Prefer Jim" 
        a(href="http://www.ipreferjim.com",target="_blank") Ipreferjim.com
    li  Web Site: Wordpress- "Ben's Creative Catering" 
        a(href="http://www.benscreativecatering.com",target="_blank") BensCreativeCatering.com
    li  Web Site: Admin/Wordpress- "Schubert Solutions" 
        a(href="http://www.schubertsolutions.com",target="_blank") SchubertSolutions.com

#knol.grid_3.prefix_1
  h2 Design
  span.intermediate Visio
  span.novice Rational Rose

  h2 Development
  span.expert-ish C#/.NET
  span.intermediate Visual C++
  span.novice XML/XSL
  span.intermediate Ruby
  span.noob PHP
  span.expert-ish .NET 1.1-4.0

  h2 Web
  span.expert-ish ASP.NET
  span.expert-ish WebForms
  span.expert-ish MVC 2.0
  span.expert-ish MVC 3.0
  span.intermediate Rails (RoR)
  span.expert-ish HTML
  span.expert-ish XHTML
  span.expert-ish CSS
  span.expert-ish JavaScript
  span.expert-ish jQuery
  span.expert-ish AJAX

  h2 Deployment
  span.intermediate MSBuild
  span.intermediate Windows Installer XML v3

  h2 Persistence
  span.intermediate Linq to SQL
  span.novice Entity Framework
  span.expert-ish ADO.NET
  span.expert-ish Fluent NHibernate
  span.intermediate MS-SQL
  span.intermediate MySQL
  span.novice SQLite3
  span.intermediate Oracle


