!!!
html
  head
    title= title
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js')
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/text.css')
    link(rel='stylesheet', href='/stylesheets/960.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Antic|Black+Ops+One')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/main.js')
  body
    #wrapper
      header.container_12
        #logo.grid_2
        #intro.grid_10
          | Jim Schubert, Software Developer
      #content.container_12!= body
      footer.container_12
        .grid_4 
          p Jim Schubert
          p james.schubert@gmail.com
          p: a(href='http://bit.ly/JimSchubert-SO') StackOverflow Profile
          p: a(href='http://www.ipreferjim.com') ipreferjim.com
        .grid_2.prefix_6 H:(804) 921-7331
