!!!
html
  head
    title= title
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js')
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/text.css')
    script(type='text/javascript', src='/javascripts/jquery.easing.1.3.js')
    script(type='text/javascript', src='/javascripts/brushes.js')
    link(rel='stylesheet', href='/stylesheets/960.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Antic|Black+Ops+One')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/main.js')
    script(type='text/javascript', src='/javascripts/draw.js')
  body
    #wrapper
      canvas#canvas
        span
      #header.container_12
        #intro.grid_9
          | Jim Schubert, Software Developer
        #logo.grid_3
          em Draw on the background!
      #content.container_12!= body
      #footer.container_12
        .grid_4 
          p Jim Schubert
          p james.schubert@gmail.com
          p: a(href='http://bit.ly/JimSchubert-SO') StackOverflow Profile
          p: a(href='http://www.ipreferjim.com') ipreferjim.com
        .grid_2.prefix_6 H:(804) 921-7331
