<div id="summary" class="grid_8 content-inner">
  <h1>Summary</h1>
  <p>
    I'm <span class="hidden-message cap">a</span> <span class="hidden-message">we</span>b developer who is 
    intere<span class="hidden-message">s</span>ted in new technologies and inn<span class="hidden-message">o</span>vative ideas.
  </p>
  <p>
    Passion, excellence, accuracy: these are a few things I bring to the table.
  </p>
  <p>
    Code, hu<span class="hidden-message">m</span>or, food: th<span class="hidden-message space">e</span>se are a few more things.
  </p>
  <p>
    I believe that the best code <span class="hidden-message space">is</span> a product of a fun environment and an amazing team.
  </p>

  <h1>Education</h1>
  <p>
    Virginia Commonwealth University Rich<span class="hidden-message">m</span>ond, VA
  </p>
  <p>
    Bachelor of Science in Business, May 2009
  </p>
  <p>
    Major: Information S<span class="hidden-message space">y</span>stems, Application Development
  </p>
  <p>
    GPA: 3.98, <em>summa cum laude</em>
  </p>

  <h1>Honors</h1>
  <p>
    Acade<span class="hidden-message">mi</span>c Achievement Awar<span class="hidden-message">d</span>, Spring/Fall 2006, Spring 2007 
  </p>
  <p>
    William O. E<span class="hidden-message">d</span>wards Scholarship for Merit, 2007-2008, 2008-2009 
  </p>
  <p>
    Member, Beta Gamma Sigma Internationa<span class="hidden-message">l</span> Business Honor Soci<span class="hidden-message space">e</span>ty, 2008 
  </p>
  <p>
    Member, Phi Kappa Phi Ho<span class="hidden-message">n</span>or Society, 2008 
  </p>
  <p>
    Student of the Year Aw<span class="hidden-message">a</span>rd, Information Syste<span class="hidden-message">m</span>s, VCU School of Business, April 2009
  </p>

  <h1>Experienc<span class="hidden-message period">e</span></h1>

  <p>
     <em>January 2013-present, Expedia, Inc Bellevue, WA</em>
  </p>
  <strong>Software Developer Engineer II</strong>
  <ul>
      <li>Refactoring of node.js api which acts as a facade for other services</li>
      <li>Performance and memory analysis of node.js/JavaScript</li>
      <li>Provide expertise of node.js framework and third-party modules to help implement a solid unit test and functional test bed</li>
      <li>Design maintainable solutions for parameter validation within express.js application</li>
      <li>Create reusable, automatable utilities for maintainence of node.js application</li>
      <li>Improve bash scripts used for build and deployment; automatically verify and install dependencies before build, allow for multiple build profiles</li>
  </ul>

  <p>
    <em>January 2012-January 2013, Enghouse Interactive (remote-Richmond, VA)</em>
  </p>
  <strong>Software Engineer</strong>
  <ul>
      <li>Member of development team for call center-centric telephony suite, CallRex</li>
      <li>Maintained and developed documentation and examples for CallRex SDK using Sandcastle for documentation and code written using  C#, ASP.NET, Windows Forms</li>
      <li>Performed custom application development on a per-customer basis using Windows Forms, ASP.NET, and WCF</li>
      <li>Created maintenance patches of legacy software using C++</li>
      <li>Created a unit-testing and functional-testing process to integrate into the build using MSBuild 4.0</li>
      <li>Created an MSBuild task wrapper around the VIX API to integrate build with VMware Virtual Machines</li>
      <li>Performed analysis and review of customer support issues which generally involved log parsing, packet analysis using Wireshark and occasionally analysis of Windows dump files</li>
      <li>Regularly interacted with customers to resolve issues and deploy custom applications or patches</li>
      <li>Provided an in-depth  and expert-level knowledge of C# and ASP.NET in the design process for the conversion of legacy (native C++) code into managed code</li>
  </ul>

  <p>
    <em>April 2011-January 2012, Primescape Solutions, Inc. Herndon, VA</em>
  </p>
  <strong>Senior Software Engineer (C#/ASP.NET)</strong>
  <ul>
    <li>Design and development of software and web applications using Microsoft .NET 3.5 Framework</li>
    <li>Create custom, reusable controls and frameworks for reporting on large data sets</li>
    <li>Configuration, setup, and maintenance of collaborative Drupal CMS for global client organization</li>
    <li>Linux system administration on dedicated server hosting Drupal CMS</li>
  </ul>

  <p>
    <em>October 2010-April 2011, Expedia, Inc. Bellevue, WA</em>
  </p>
  <strong>Software Developer Engineer II</strong>
  <ul>
    <li>Instrumental in the interview process for Senior .NET Software Developer Engineers</li>
    <li>Researched available technology solutions in a variety of areas: localization, performance monitoring, logging</li>
    <li>Team: prepared a demonstration application using ASP.NET MVC 2.0 (Web Forms View Engine)</li>
    <li>Team: scalable, high-availability public-facing web application using ASP.NET MVC 3.0 (Razor View Engine)</li>
    <li>
        Involved in a ma<span class="hidden-message cap">j</span>ority 
        of the constr<span class="hidden-message">u</span>ction pha<span class="hidden-message">s</span>e for B2B site
    </li>
  </ul>

  <p>
    <em>September 2009-November 2010, Primescape Solu<span class="hidden-message space">t</span>ions, Inc. Herndon, VA</em>
  </p>
  <strong>Consultant / Software &amp; Web Application Developer</strong>
  <ul>
    <li>Performed major enhancements and added functionality to a grants/budget management web application using ASP.NET/C# and Oracle 9i</li>
    <li>Upgraded the grants/budget management web application from .NET 1.1 to .NET 3.5 SP1</li>
    <li>Complied with coding and security standards for Federal Government client</li>
    <li>Designed and developed application architecture and data access components</li>
    <li>Interacted directly with Federal Government clients</li>
    <li>Involved in entire Software Development Lifecycle</li>
  </ul>

  <p>
    <em>September 2008-February 2009, Agility Healthcare Solutions (GE Healthcare) Richmond, VA</em>
  </p>
  <strong>Intern - Software Developer</strong>
  <ul>
    <li>Performed bug fixes and application enhancements in an HL7-compliant Rich Internet Application using ASP.NET 3.5 and C#</li>
    <li>Wor<span class="hidden-message">k</span>ed w<span class="hidden-message">i</span>th <span class="hidden-message">d</span>evelopment 
        team as part of a mixe<span class="hidden-message">d</span> Ag<span class="hidden-message">i</span>le 
        a<span class="hidden-message">n</span>d Scrum methodolo<span class="hidden-message comma">g</span>y
    </li>
    <li>Provided feedback on appl<span class="hidden-message">i</span>cation complexi<span class="hidden-message apos">t</span>y 
         and u<span class="hidden-message space">s</span>ability to team leader
    </li>
  </ul>

  <p>
    <em>January 2008-Present, Open Sou<span class="hidden-message cap">r</span>ce, Pers<span class="hidden-message">onal</span>, and Freelance Projects</em>
  </p>
  <strong>Software &amp; Web Application Developer / Administrator</strong>
  <ul>
    <li>Open-source project: brushes.js- Brushes for HTML5 Canvas, 2<span class="hidden-message exclamation">d</span> context</li>
    <li>Open-source project: Google Chrome Extension- "New Tab Redirect!"</li>
    <li>Open-source project: Google Chrome Extension- "Select Actions"</li>
    <li>
        Web Site: "alittlebirdy.us"
        <a href="http://alittlebirdy.herokuapp.com/" target="_blank">alittlebirdy.us</a> (in-progress)
    </li>
    <li>
        Web Site: "Comix!" 
        <a href="http://www.drawcomix.com" target="_blank">DrawComix.com</a> (in-progress)
    </li>
    <li>
        Web Site: Admin/Wordpress- "I Prefer Jim" 
        <a href="http://www.ipreferjim.com" target="_blank">Ipreferjim.com</a>
    </li>
    <li>
        Web Site: Wordpress- "Ben's Creative Catering" 
        <a href="http://www.benscreativecatering.com" target="_blank">BensCreativeCatering.com</a>
    </li>
    <li>
        Web Site: Admin/Wordpress- "Schubert Solutions", SchubertSolutions.com (old)
    </li>
  </ul>
  <strong>Written Work</strong>
  <ul>
    <li><a href="https://leanpub.com/yfa-nodejs" target="_blank">Your First App: Node.js</a>, work-in-progress self published book about the development life cycle of a node.js stack. Free with coupon <strong>SawYourResume</strong></li>
    <li><a href="http://jimschubert.github.io/masteringnode/" target="_blank">Mastering Node</a>, contributions to open-source ebook</li>
  </ul>
</div>
<div id="knol" class="grid_3 prefix_1 content-inner">
  <h2>Development</h2>
  <span class="expert-ish">node.js</span>
  <span class="noob">Scala</span>
  <span class="intermediate">Visual C++</span>
  <span class="intermediate">XML/XSL</span>
  <span class="expert-ish">C#/.NET</span>
  <span class="intermediate">Ruby</span>
  <span class="noob">Java</span>
  <span class="intermediate">PHP</span>
  <span class="expert-ish">.NET 1.1-4.0</span>

  <h2>Web</h2>
  <span class="expert-ish">ASP.NET MVC</span>
  <span class="expert-ish">ASP.NET WebForms</span>
  <span class="expert-ish">MVC (Architecture)</span>
  <span class="expert-ish">REST APIs</span>
  <span class="intermediate">Rails (RoR)</span>
  <span class="expert-ish">HTML</span>
  <span class="expert-ish">XHTML</span>
  <span class="expert-ish">CSS</span>
  <span class="expert-ish">JavaScript</span>
  <span class="expert-ish">jQuery</span>
  <span class="expert-ish">AJAX</span>
  <span class="expert-ish">express.js</span>
  <span class="expert-ish">Silex</span>
  <span class="expert-ish">Symfony</span>

  <h2>Deployment</h2>
  <span class="intermediate">MSBuild</span>
  <span class="intermediate">Windows Installer XML v3</span>
  <span class="intermediate">Bash (scripts)</span>
  
  <h2>Design</h2>
  <span class="intermediate">Visio</span>
  <span class="expert-ish">Architectural Design</span>
  <span class="novice">Rational Rose</span>
  <span class="expert-ish">REST API</span>
 
  <h2>Persistence</h2>
  <span class="intermediate">Linq to SQL</span>
  <span class="novice">Entity Framework</span>
  <span class="expert-ish">ADO.NET</span>
  <span class="expert-ish">Fluent NHibernate</span>
  <span class="intermediate">MS-SQL</span>
  <span class="intermediate">MySQL</span>
  <span class="novice">SQLite3</span>
  <span class="intermediate">Oracle</span>
  <span class="expert-ish">VERY (persistent)</span>
</div>