<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie ie6 lte9 lte8 lte7 no-js"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7 lte9 lte8 lte7 no-js"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8 lte9 lte8 no-js"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9 lte9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="notie no-js"> <!--<![endif]-->
  <head>
    <title>
      {{title}}
    </title>
    <meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="author" content="Jim Schubert" />
    <meta name="description" content="Resume: Jim Schubert, Software Developer" />
    <meta name="keywords" content="Jim Schubert, resume, Seattle" />
	<meta name="viewport" content="width=device-width">
    <style type="text/css">
      /**
       * Antic	SIL Open Font License, 1.1
       * Antic-Regular.ttf: Copyright (c) 2010, 2011, Santiago Orozco <hi@typemade.mx>, with Reserved Font Name "Antic"
       */
      @font-face {
        font-family: 'Antic';
        font-style: normal;
        font-weight: 400;
        src: local('Antic'), local('Antic-Regular'), url(/fonts/Antic-Regular.woff) format('woff');
      }

      /**
       * Black Ops One	SIL Open Font License, 1.1
       * BlackOpsOne-Regular.ttf: Copyright (c) 2011, Sorkin Type Co (www.sorkintype.com) with Reserved Font Names "Black Ops" and "Black Ops One".
       */
      @font-face {
        font-family: 'Black Ops One';
        font-style: normal;
        font-weight: 400;
        src: local('Black Ops One'), local('BlackOpsOne-Regular'), url(/fonts/BlackOpsOne-Regular.woff) format('woff');
      }
    </style>
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/base.css" />
    <link rel="stylesheet" href="/css/grid.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <script type="text/javascript" src="/js/modernizr.js"></script>
    <script type="text/javascript" src="/js/jquery.js"></script>
  </head>
 <body>
    <canvas id="canvas">
        <span></span>
    </canvas>
    <div id="wrapper" class="container clearfix">
      <div id="header" class="clearfix">
        <div id="intro" class="grid_9">
          Jim Schubert, Software Developer
        </div>
        <div id="logo" class="grid_3">
          <em class="draw-hint">Draw on the background!</em>
        </div>
      </div>
      <div id="content" class="container clearfix">
          <div class="fake-noscript grid_12">
            <div class="notice">
              Please enable JavaScript to view this site properly
            </div>
          </div>
          {{body}}
      </div>
      <div id="footer" class="container clearfix">
        <div class="grid_4">
          <p>Jim Schubert</p>
          <p>james.schubert@gmail.com</p>
          <p>
            <a href="http://bit.ly/JimSchubert-SO">StackOverflow Profile</a>
          </p>
          <p>
            <a href="http://www.ipreferjim.com">ipreferjim.com</a>
          </p>
          <p>
            <a href="https://github.com/jimschubert">jimschubert@github</a>
          </p>
        </div>
        <div class="grid_2 prefix_6">
            <p>H:(804) 921-7331</p>
            <p>
                <a href="http://github.com/jimschubert/jimschubert.us" target="_blank">Fork this resume!</a>
            </p>
            <p>
                <a href="/about">About this site</a>
            </p>
            <p>
                <a href="/">jimschubert.us</a>
            </p>
        </div>
      </div>
    </div>

<script type="text/javascript" src="/js/brushes.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
<script type="text/javascript" src="/js/jquery.easing.1.3.js"></script>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-26004786-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>
