<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>
      {{title}}
    </title>
    <meta charset="utf-8" />
    <meta name="author" content="Jim Schubert" />
    <meta name="description" content="Resume: Jim Schubert, Software Developer" />
    <meta name="keywords" content="Jim Schubert, resume, Seattle" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/text.css" />
    <link rel="stylesheet" href="/css/960.css" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Antic|Black+Ops+One" />
    <link rel="stylesheet" href="/css/style.css" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
  </head>
 <body>
    <div id="wrapper">
      <canvas id="canvas">
        <span></span>
      </canvas>
      <div id="header" class="container_12">
        <div id="intro" class="grid_9">
          Jim Schubert, Software Developer
        </div>
        <div id="logo" class="grid_3">
          <em class="draw-hint">Draw on the background!</em>
        </div>
      </div>
      <div id="content" class="container_12">
        {{body}}
      </div>
      <div id="footer" class="container_12">
        <div class="grid_4">
          <p>Jim Schubert</p>
          <p>james.schubert@gmail.com</p>
          <p>
            <a href="http://bit.ly/JimSchubert-SO">StackOverflow Profile</a>
          </p>
          <p>
            <a href="http://www.ipreferjim.com">ipreferjim.com</a>
          </p>
          <p>
            <a href="https://github.com/jimschubert">jimschubert@github</a>
          </p>
        </div>
        <div class="grid_2 prefix_6">
            <p>H:(804) 921-7331</p>
            <p>
                <a href="http://github.com/jimschubert/jimschubert.us" target="_blank">Fork this resume!</a>
            </p>
            <p>
                <a href="/about">About this site</a>
            </p>
            <p>
                <a href="/">jimschubert.us</a>
            </p>
        </div>
      </div>
    </div>

<script type="text/javascript" src="/js/brushes.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
<script type="text/javascript" src="/js/jquery.easing.1.3.js"></script>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-26004786-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>
