body {
  padding: 20px;
  font: 14px "Antic", "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgba(0,0,200,0.1);
  color: rgba(0,0,0,0.8);
  z-index:-500;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.notice {
  background: #FCE9C0 url(/images/alert-icon.png) left no-repeat;
  background-position: 12px;
  border-top: 2px solid red;
  border-bottom: 2px solid red;
  padding: 15px 50px;
}

a { color: rgba(0,50,220,0.9); }
a[target="_blank"] { 
  padding: 0 15px 0 0; 
  background: url(/images/external.png) no-repeat right center;
  margin: 0px 2px;
}

h1, h2, h3, h4, h5 { 
font-family: 'Black Ops One', cursive; 
text-shadow: 2px 2px 2px #bbb;
}

p {
  margin: 0;
  padding: 0;
}

#wrapper { z-index:-200; }
canvas#canvas {
  position:absolute;
  top:0;
  left:0;
  z-index:-9900;
  height:2048px;
  width:100%;
}

.draw-hint { display: none; }

#header, #footer, #content { z-index: 200; }

#intro {
  font-family: 'Black Ops One', sans-serif;
  font-size: 200%;
  font-weight: bold;
  text-shadow: 2px 2px 2px #bbb;
  text-decoration: none;
}

#content {
  background-color: rgba(255,255,255,0.9);
  padding:0.3em 0.4em;
  border-radius:4px;
  -o-border-radius:4px;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
}

#content h1 { margin-top:0.5em; margin-bottom:0.2em;}
#content ul { margin-top:0.2em; }

#knol h2 { margin-bottom:0.1em; margin-top:0.4em; }

#knol span { margin: 0.2em; display:block;}
.noob { font-size: 0.8em; font-weight:400; }
.novice { font-size: 1em; font-weight:800;}
.intermediate { font-size: 1.1em; font-weight:400;}
.pro { font-size: 1.2em; font-weight:700;}
.expert-ish { font-size: 1.5em; font-weight:900;}

#header { margin-bottom: 0.3em; }
#footer { margin-top:0.3em; }

.clone.done { 
font-size: 1.5em;
font-weight: 800;
}

.clone.space:after {
  content: "\0000a0";
}

.clone.apos:after {
  content: "'";
}

.clone.cap { text-transform: uppercase; }

.clone.exclamation:after { 
  content: "!";
}

.clone.comma:after {
  content: ",\0000a0";
}

.clone.period:after {
  content: ".\0000a0";
}

