<div class="profile-container">
    {{ $image := resources.GetMatch "images/profile.png" }}
    {{ with $image }}
    {{ $image := $image.Resize "100x100" }}
    <img class="profile rounded-circle" src="{{ $image.RelPermalink }}" alt="profile photo" />
    {{ else }}
    <img class="profile rounded-circle" src="img/profile.png" alt="profile photo default (replace me)" />
    {{ end }}
    <h1 class="name">{{.Resume.full_name | markdownify | safeHTML}}</h1>
    <h3 class="tagline">{{or .Resume.tagline .Resume.title | markdownify | safeHTML}}</h3>
</div><!--//profile-container-->
