{{- with .Resume.skills -}}
<section class="skills-section section">
    <h2 class="section-title"><span class="fa-stack fa-xs"><i class="fas fa-circle fa-stack-2x"></i><i class="fas fa-rocket fa-stack-1x fa-inverse"></i></span>
        Skills &amp; Proficiency
    </h2>
    {{- if .summary -}}
    <div class="intro">
        <p>{{ .summary | markdownify | safeHTML}}</p>
    </div><!--//intro-->
    {{- end -}}
    {{- range $skill := .list -}}
    <div class="skillset">
        <div class="item">
            <h3 class="level-title">{{ $skill.name | markdownify | safeHTML }}</h3>
            <div class="progress level-bar">
                <div class="progress-bar theme-progress-bar" role="progressbar" style="width: {{ $skill.rank }}%" aria-valuenow="{{ $skill.rank }}" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div><!--//item-->
    </div>
    {{- end -}}
</section><!--//skills-section-->
{{- end -}}
