<div id="content" class="container clearfix">
    <section id="background" class="grid_8 content-inner">
        <article id="summary">
            <header>Summary</header>
            <p ng-bind-html="summary"></p>
        </article>

        <article id="education">
            <header>Education</header>
            <div ng-repeat="e in education">
                <p>
                    <span ng-bind="e.institution"></span>, <span ng-bind="e.location"></span>
                </p>
                <p>
                    <span ng-bind="e.degree"></span>, <span ng-bind="e.graduation_date"></span>
                </p>
                <p ng-if="e.major">
                    Major: <span ng-bind="e.major"></span>
                </p>
                <p ng-if="e.minor">
                    Minor: <span ng-bind="e.minor"></span>
                </p>
                <p>
                    GPA: <span ng-bind="e.gpa"></span><span ng-if="e.gpa >= 3.3">, <em>{{gpaDisplayHonor(e.gpa)}}</em></span>
                </p>
            </div>
        </article>

        <article id="honors">
            <header>Honors</header>
            <p ng-repeat="h in honors">
                <span ng-bind="h"></span>
            </p>
        </article>

        <article id="experience">
            <header>Experience</header>
            <div ng-repeat="e in experience">
                <p><em ng-bind="e.from"></em>-<em ng-bind="e.to"></em>, <em ng-bind="e.company"></em> <em ng-bind="e.location"></em></p>
                <strong ng-bind="e.title"></strong>
                <ul>
                    <li ng-repeat="b in e.bullets" ng-bind-html="b"></li>
                </ul>

                <p class="extra tech" ng-if="e.technologies">
                  <strong>Technologies</strong>
                  <span ng-repeat="t in e.technologies" ng-bind="t" ng-class="{'last': $last}"></span>
                </p>

                <p class="extra tools" ng-if="e.tools">
                  <strong>Tools</strong>
                  <span ng-repeat="t in e.tools" ng-bind="t" ng-class="{'last': $last}"></span>
                </p>
                <hr class="shmancy" ng-if="!$last"/>
            </div>
        </article>

        <article id="written">
            <header>Written Work</header>
            <dl ng-repeat="w in written">
                <dt><a ng-href="w.url" target="_blank" ng-bind="w.title"></a></dt>
                <dd ng-bind-html="w.summary"></dd>
            </dl>
        </article>
    </section>

    <section id="knol" class="grid_3 prefix_1 content-inner">
        <article ng-repeat="(name,items) in skills">
            <header ng-bind="name|uppercase"></header>
            <span ng-repeat="i in items" ng-bind="i.name" ng-class="{'expert-ish':i.rank>=.75,'intermediate':i.rank>=.5&&i.rank<.75,'noob':i.rank<.5}"></span>
        </article>
    </section>
</div>
